.submitButton {
    background-color: var(--backgroundSecundario);
    color: #fff;
    text-decoration: none;
    padding: 0.7em 1.2em;
    transition: 0.5s;
    cursor: pointer;
    border: none
}

.submitButton:hover{
    color: var(--hover)
}